database:
  driver: "psql"
  dbname: ""
  username: ""
  password: ""
  host: "localhost"
  port: "5432"
  max_lifetime: 7200
  max_open_conns: 150
  max_idle_conns: 50

server:
  port: "23234"
  host: "localhost"
  key: "/path/to/key" (can be blank)